* {
    box-sizing:border-box;
}
[class*="col-"] {
  width: 100%;
}
body {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    margin: 20px;
    text-align: left;
}
.carousel-item {
  height: 450px;
  width: 100%;
  padding: 0px;
  margin:0px;
  
}

.nav1{ 
    background-color: rgba(145, 145, 54, 0.75);
    /*position: sticky;  */
    margin:0%
}



.navbar li:hover{
    background-color: rgb(109, 103, 103, 0.3);
    border: 2px solid rgb(109, 103, 103, 0.3);
    border-radius: 20px;
    color: white;
}

nav a img {
    height: 60px;
    width: 60px;
}
#mission{
  text-align: center;
}
.market{
  background-color: hsl(0, 0%, 0%);
}
.business{
  background-color: hsl(0, 0%, 0%);
}
.d-block{
    height: 400px;
    width: 100%;
}


#testimony, #features,  {
    background-color: black;
    color: white;
    text-align: center;
}
#about {
  background-color: rgb(145, 145, 54);
  color: white;
  
}
.img-thumbnail{
  height: 200px;
  width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(14, 14, 13, 0.8);
}

.container-gallery:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  float: right;
}

#terms:hover{
  cursor: pointer;
  background-color: rgb(128, 128, 123);
  color:rgb(253, 237, 8)
}


.fa {
    padding: 10px;
    font-size: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 6px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: rgb(95, 189, 40);
    background-color: rgba(47, 47, 47, 0.65);
  }

  .tele{
    font-weight: bold; 
    color:#2cd3d3
  }

  @media (max-width: 600px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #mission img{
      width: 80px; 
      height: 80px; 
      position: relative;
      left: 20px;
    }
    .header-text {
      position: absolute;
      top: 10%;
      left: 1.8%;
      right: auto;
      width: 96.66666666666666%;
      color: rgb(15, 8, 8);
      background-color: rgba(7, 7, 7, 0.45);
    }
    }


    
    @media only screen and (min-width: 800px) {
      /* For tablets: */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
      
    }
    
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    }
    

 
      
